<div class="login-container card">
        <h2>Authentification</h2>
        <form>
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" [ngClass]="{'is-invalid' : loginForm.controls.login.hasError('required') || loginForm.controls.login.hasError('pattern')}" [formControl]="loginForm.controls.login">
                <div class="invalid-feedback">
                    Une adresse email valide est obligatoire.
                </div>
    
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" placeholder="Password" [ngClass]="{'is-invalid' : loginForm.controls.password.hasError('required')}" [formControl]="loginForm.controls.password" />
                <div class="invalid-feedback">
                    Le mot de passe est obligatoire.
                </div>
            </div>
            <button class="btn btn-primary" >Connexion</button>

        </form>
    </div>