<!-- <div class="question-container">
    <h2>{{meteo.dateDuJour}} </h2>

    <div class="row">
        <ng-container *ngFor="let met of meteo?.listMeteo">
            <div class="col">
                <app-quiz-button (answerClicked)="onAnswerSelected(met)" [label]="met.date"></app-quiz-button>
            </div>
        </ng-container>
    </div>
</div>  -->

<!-- <div class="question-container">
    <h2>{{questionItem.question}} </h2>

    <div class="row">
        <ng-container *ngFor="let answerItem of questionItem.answers; index as answerIndex;">
            <div class="col">
                <app-quiz-button (answerClicked)="onAnswerSelected(answerItem)" [label]="answerItem.answer"></app-quiz-button>
            </div>
            <div class="w-100" *ngIf="answerIndex % 2 != 0"></div>
        </ng-container>
    </div>
</div>  -->